@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Default CSS */
*{
    margin: 0;
    padding: 0;
}
:root{
    --description-color: #3E3E3E;
    --card-img-bg-color: #f1f1f1;
    --nav-right-color: #3C3C3C;
    --bg-color: #fffbf0;
    --white-color: #fff;
    --heading-blue-color: #363958;
    --btn-bg-color: #a4bc46;
    --heading-yellow-color: #FABE4C;
}
img{
    max-width: 100%;
}
/* Navbar */
.custom-nav{
    background-color: var(--bg-color);
}
.navbar-brand img{
    width: 291.11px;
    height: 39.27px;
}
.custom-nav .nav-link{
    color: var(--nav-right-color);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: .2s;

}
.custom-nav .nav-link:hover{
    color: var(--heading-blue-color);
}
/* Banner */
#banner{}
.banner{
    background-color: var(--bg-color);
}
.content{}
.content h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
}
.content h2 span:first-child{
    color: var(--heading-yellow-color);
}
.content h2 span:last-child{
    color: var(--heading-blue-color);
}
.content img{
    width: 440.72px;
    height: auto;
}
.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--description-color);
}
.buy-now-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--btn-bg-color);
    color: var(--white-color);
    transition: .4s;
}
.buy-now-btn:hover{
    background-color: var(--white-color);
    color: var(--btn-bg-color);
}
/* main area */
#main{}
.main{}
/* show case area */
#show-case{}
.show-case{}
.show-case-title{}
.show-case-title h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 48px;
    color: var(--heading-blue-color);
}
.card{
    border: none;
    background-color: var(--white-color);
}
.card img{
    width: 100%;
    background-color: var(--card-img-bg-color);
    border-radius: 20px;
}
.card-body{}
.card-title{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--heading-blue-color);
}
.card-price{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--heading-yellow-color);
    font-size: 36px;
    font-weight: 900;
}
/* icon boxes */
#icon-boxes{}
.icon-boxes{}
.icon-box{}
.icon-box img{
    width: 70%;
}
.icon-box h3{
    color: var(--heading-blue-color);
    font-weight: 700;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}


